body{
  padding-top: 70px;
}
.navbar-right{
  padding-right: 2em;
}
.history_listing{
  text-decoration: none;
}
.history_listing:hover{
  text-decoration: none;
}
.history_deck_name{
  color: rgba(162, 124, 58, 0.92);
}
.home_deck_name{
    text-align: center;
    font-weight: 500;
}
.card_question{
  font-size:2em;
  font-family: 'Caveat', cursive;
}
.card_deck{
  text-align: center;
  font-size: 9em;
  font-weight: 800;
  line-height: 0.65em;
  word-spacing: 0.1em;
  padding-bottom: 0.7em;
  padding-top: 0.3em;
  font-family: 'Seaweed Script', cursive;
  border-bottom: 1px solid #B3B3B3;
  margin-bottom: 0.2em;
  color: rgba(162, 124, 58, 0.92);
}
.card_submit{
  font-family: 'Seaweed Script', cursive;
  line-height: 0.5em;
  font-size: 1.5em;
}
.guess_result{
    text-align: center;
    font-size: 5em;
    font-weight: 700;
    color: rgba(162, 124, 58, 0.92);
    margin-top: 0.8em;
}
.guess_instruction{
  font-size: 1.5em;
  text-align: center;
}
.guess_right_answer{
  color: rgba(162, 124, 58, 0.92);
}
.login_register_header{
  text-align: center;
  font-size: 4em;
  color: rgba(162, 124, 58, 0.92);
}
#home_img{
  padding-top: 0;
  margin-top: 0;
  position: relative;
  top:-50px;
  height:500px;
  background-image: url("/img/home.jpg");
  background-position:center;
}
#home_title{
  text-align: center;
  position: relative;
  top:-1.7em;
  font-size: 8em;
  font-weight: 700;
  color: rgba(162, 124, 58, 0.92);
}
#home_row{
  position: relative;
  top: -10em;
}
