<h1>History Detail</h1>
<table class="table table-hover">
  <tr><th>Question</th></tr>
  <%@guesses.each do |guess|%>
    <%if guess.correct%>
      <tr><td><a href="/cards/<%=guess.card.id%>" class="history_listing"><%=guess.card.question%></a></td></tr>
    <%else%>
      <tr class="danger"><td><a href="/cards/<%=guess.card.id%>" class="history_listing"><%=guess.card.question%></a></td></tr>
    <%end%>
  <%end%>
</table>
