</div>
<div id="home_img"></div>
<div class="container">
<h1 id="home_title">FLASH COPPER</h1>

<div class="row" id="home_row">
  <%@decks.each do |deck|%>
  <div class="col-xs-6 col-md-3">
    <a href="/decks/<%=deck.id%>/histories/new" class="thumbnail">
      <img src="/img/<%=deck.name%>.jpg" alt="deck name">
    </a>
    <p class='home_deck_name'><%=deck.name%></p>
  </div>
  <%end%>
</div>

