<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link href='https://fonts.googleapis.com/css?family=Seaweed+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <title></title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href='/'>Flash Copper</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <%if session[:id]%>
        <li><a href='/users/histories'><%=session[:username]%></a></li>
        <li><a href='/sessions/logout'>Log Out</a></li>
      <%else%>
        <li><a href='/users/new'>Register</a></li>
        <li><a href='/sessions/new'>Log In</a></li>
      <%end%>
      </ul>
    </div>
  </nav>
  <div class="container">
  <%= yield %>
  </div>
</body>
</html>
